<div class="footerWrap">
    <div class="footer">
      <div class="footerContent">
        <h5>Wiki Searcher - <a style="color: #0cb3a7" href="https://latifyilmaz.com" target="_blank">Latif Yılmaz</a></h5>
        <h5>Made with ❤ and <span class="no-theme">☕</span> using <a style="color: #ffd343;" href="https://pypi.org/project/wikipedia/" target="_blank"><span class="no-theme">Wikipedia API for Python</span></a></h5>
      </div>     
    </div>
    <div class="footerThemes">
      <button class="theme" id="theme"><span class="material-icons">dark_mode</span></button>
    </div>
    
</div>