@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --yellow: #ffd343;
    --blue: #0cb3a7;
}

::selection {
    color: white;
    background: white;
}

html,body{
    overflow-x: hidden;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    outline: none;
    position: relative;
}

#page-container {
    position: relative;
}

#content-wrap {
    padding-bottom: 2.5rem;
    margin-bottom: 70px;
}

.no-theme{
    background: transparent;
}

/*#region Page*/
.page{
    display: inline-block;
    max-width:800px;
    margin: 0 auto;
    text-align: left;
}

.page-title{
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
    margin-bottom: 60px;
    color: var(--yellow);
    background: transparent;
}

.page-title > span{
    position: relative;
}

.page-title > span:before, .page-title > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px; /* half of limiter*/
    margin: 0 20px;
}
.page-title > span:before{
    right: 100%;
}
.page-title > span:after{
    left: 100%;
}

.content{
    width: 100%;
    margin-top: 20px;
}

.paragraph-content{
    white-space: pre-line;
}

.paragraph-header{
    font-weight: 600;
    color: var(--blue);
}
/*#endregion*/

/*#region Tabs*/
.tabs{
    margin: 0 auto;
    display: grid;
    width: 30%;
    overflow: hidden;
    grid-template-rows: 30px 1fr;
    grid-template-columns:  1fr 1fr;
}

.tab{
    transition: 300ms all;
    cursor: pointer;
    border: none;
    text-align: center;
    border-bottom:5px solid var(--yellow);
}

.tab span{
    color: black;
    text-align: center;
    transition: 150ms all;
}


.tab-disabled{
    border-bottom:3px solid #c8a121;
}


.tab:hover{
    border-bottom: 5.2px solid #aa8406;
}

.tab:hover span{
    font-size: 25px;
}

/*#endregion*/

/*#region Images*/
.content-image{
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    
}
/*#endregion*/

/*#region Footer*/
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
    background: transparent;
}


.footerThemes{
    margin: right;
    float: right;
}

.footerThemes button{
    border: 2px solid black;
    margin: 10px;
    margin-right: 15px;
    height: 36px;
    text-align: right;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.footerContent {
    text-align: left;
    margin:left;
    float:left;
    background: transparent;
}

.footerContent h5{
    padding: 0px;
    margin: 5px;
    background: transparent;

}

.footerContent a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.heart{
    color: rgb(224, 3, 3);
}
/*#endregion Footer*/

/*#region Container*/
.container{
    margin-top: 80px;
    text-align: center;
    
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 80px;
    transition: .25s linear;
}

.container h1 a{
    transition: 300ms all;
    color: black;
}

.container h1 a:hover{
    color: white;
    -webkit-text-stroke: 3px black;
}

h1 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--blue);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  h1 > a:hover:before,
  h1 > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }
/*#endregion Container*/

/*#region Main*/
.main{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.results{
    display: inline-block;
    max-width:800px;
    margin: 0 auto;
    margin-bottom:80px;
}

.results .result{
    margin-top: 50px;
    text-align: left;
    width: 100%;
    height: 80px;
}

.results .result{
    padding: 15px;
}

.result .title{
    transition: 100ms all;
    color: var(--blue);
}

/*#endregion*/


#search{   
    transition: 300ms all;
    border: 2px solid var(--blue);
    border-radius: 30px;
    height: 32px;
    font-size: 15px;
    color: #3D3D3C;
    font-weight: 600;
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 20px;
}

#submit{
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: var(--blue);
    position: relative;
    right: 44px;
    top: 6px;
    cursor: pointer;
    
}

.error{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.info-message{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  
    background-color: #0dac27;
    padding: 15px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
  
    transition: 300ms all;
    transform-origin: top right;
    animation: flash-message 0.6s, disappear 4s forwards;
}

.warning-message{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  
    background-color: #cf0520;
    padding: 15px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
  
    transition: 300ms all;
    transform-origin: top right;
    animation: flash-message 0.6s, disappear 4s forwards;
}

@keyframes flash-message {
    from {transform: translateY(-60px);}
    to {transform: translateY(0px);}
  }

@keyframes disappear{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}

/*#region Responsive*/
@media only screen and (max-width: 1500px){
    .footerWrap {
        background: white;
    }
}

@media only screen and (max-width: 800px){
    .main .results{
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .container h1{
        font-size: 60px;
    }

    .main .results{
        width: 350px;
    }

    .main .page{
        width: 350px;
    }

    .page-title{
        font-size: 20px;
    }

    .main .results .result{
        margin-top: 70px;
    }

    .main .results .result:first-child{
        margin-top: 50px;
    }

}

@media only screen and (max-width: 540px){
    .container h1{
        font-size: 40px;
    }
    
    .footerContent h5{
        font-size: 10px;
    }

    #search{
        height: 26px;
        font-size: 13px;
        margin-left: 50px;
    }
    
}
/*#endregion Responsive*/