<!--FLASK TEMPLATE BY LATIF YILMAZ-->

<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}'/>

    <!--Lottie Files-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!--Google Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    {% include "assets/messages.html" %}
    <div id="page-container">
        <div id="content-wrap">
            <div class="container">
                <h1><a href="{{ url_for("home") }}">Wiki Searcher</a></h1>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% include "assets/footer.html" %}
    </div>


    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
</body>
</html>
