{% extends 'base.html' %}
{% block title %}Wiki Searcher - Search{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ url_for("home") }}"><h1>Wiki Searcher</h1></a>
    </div>

    <div class="main">
        <form method="GET">
            <input name="search" id="search" type="text" placeholder="Search" value="{{ search }}" required>
            <button id="submit" type="submit"><span class="material-icons">search</span></button>
            <!--<br><br>
            <label for="can_suggestion">Suggestion</label>
            <input id="can_suggestion" name="can_suggestion" type="checkbox" {% if can_suggestion == "on" %}checked{% endif %}>-->
        </form>

        <div class="results">
            {% if results %}
                {% for result in results %}
                    {% include "assets/result.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}




