{% extends 'base.html' %}
{% block title %}Wiki Searcher - Search{% endblock %}

{% block content %}
    <div class="main">
        <form method="GET">
            <input name="search" id="search" type="text" placeholder="Search" value="{{ search }}" required>
            <button id="submit" type="submit"><span class="material-icons">search</span></button>
        </form>

        <div class="results">
            {% if results %}
                {% for result in results %}
                    {% include "assets/result.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}




