{% extends 'base.html' %}
{% block title %}Wiki Searcher - {{ page["title"] }}{% endblock %}

{% block content %}
    <div class="page">
        <a href="{{ url_for('page', query=page['title']) }}"><h2 class="page-title"><span class="no-theme">{{ page["title"] }}</span></h2></a>
        <div class="tabs">
            {% if images|length == 0 %}
                <a href="{{ url_for('info', query=page['title']) }}" class="tab no-theme"><span class="material-icons">feed</span></a>
                <a href="{{ url_for('images', query=page['title']) }}" class="tab no-theme tab-disabled"><span class="material-icons">crop_original</span></a>
            {% else %}
                <a href="{{ url_for('info', query=page['title']) }}" class="tab no-theme tab-disabled"><span class="material-icons">feed</span></a>
                <a href="{{ url_for('images', query=page['title']) }}" class="tab no-theme"><span class="material-icons">crop_original</span></a>
            {% endif %}

        </div>
        <div class="content">
            {% if images|length == 0 %}
                <p class="paragraph">
                    <h4 class="paragraph-header">{{ page["title"] }}</h4>
                    <h5 class="paragraph-content">{{ page["content"] }}</h5>
                </p>
            {% else %}
                {% for i in images %}
                    <a href="{{ i }}"><img class="content-image no-theme" src="{{ i }}" alt="Image"></a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}




